<%- include("./partials/head.ejs") %>

<section class="hero">
  <div class="hero-body commands-hero">
    <div class="container has-text-centered">
      <p class="title">
        <a href="/commands" class="little-title">Commands</a>
      </p>
      <p class="subtitle">A list of all <abbr title="commands">cmds</abbr>.</p>
    </div>
  </div>
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-2">
        <div class="box">
          <aside class="menu">
            <p class="menu-label has-text-centered">Categories</p>
            <ul class="menu-list">
              <% i = 0; let active; for (category of bot.categoryArray()) { i++;
              if(i === 1) { active = "is-active" } else { active = "" } %>
              <li id="<%= category %>-tab">
                <a class="cat-toggle <%= active %>" data-cat="<%= category %>"
                  ><%= bot.capitalize(category) %></a
                >
              </li>
              <% } %>
            </ul>
          </aside>
        </div>
      </div>
      <div class="column is-10">
        <div class="box commands-container">
          <% d = 0; let hidden; for (category of bot.categoryArray()) { d++;
          if(d === 1) { hidden = "" } else { hidden = "is-hidden" }%>
          <div id="<%= category %>-content" class="cmd-category <%= hidden %>">
            <div class="columns commands-header-container">
              <div class="column is-2 commands-header">Command</div>
              <div class="column is-6 commands-header des-head">
                Description
              </div>
              <div class="column is-4 commands-header des-head">Usage*</div>
            </div>
            <div class="columns commands-body-container is-multiline">
              <% const cmds = bot.commands.filter((cmd) => cmd.help.category ===
              category && cmd.help.enabled !== false); cmds.each(cmd => { let
              usage; if(cmd.help.expectedArgs !== null) { usage =
              bot.replaceAll(cmd.help.expectedArgs, "`", ""); } else usage =
              "None"; %>
              <div class="commands-body-line column is-12">
                <div class="columns">
                  <div
                    class="column is-2 commands-body-line-part has-text-danger"
                  >
                    <%= cmd.help.name %>
                  </div>
                  <div
                    class="column is-6 commands-body-line-part has-text-white"
                  >
                    <%= cmd.help.description %>
                  </div>
                  <div
                    class="column is-4 commands-body-line-part has-text-white"
                  >
                    <%= usage || "None" %>
                  </div>
                </div>
              </div>
              <% }) %>
            </div>
            <div class="columns commands-footer-container">
              <div class="column is-10 commands-footer">
                * <> = required / [] = optional
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include("./partials/footer.ejs") %>
