<%- include("./partials/head.ejs")%>
<section class="hero has-text-centered">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Customize your server with <a href="/"><%= bot.user.username %></a>
      </p>
      <p class="subtitle">
        <%= bot.user.username %> is a new multipurpose Discord bot designed to
        be easy to use.<br />It has <%= bot.commands.size %> commands and there
        is a lot more to come.
      </p>
      <a class="button is-light is-medium is-outlined is-danger" href="/invite"
        ><i class="fab fa-discord"></i>&nbsp;&nbsp;Add to Discord</a
      >
      <% if (req.user) { %>
      <a
        class="button is-light is-medium is-outlined is-danger"
        href="/dashboard"
        ><i class="fas fa-tasks"></i>&nbsp;&nbsp;Dashboard</a
      >
      <% } else { %>
      <a class="button is-light is-medium is-outlined is-danger" href="/login"
        ><i class="fas fa-tasks"></i>&nbsp;&nbsp;Log In</a
      >
      <% } %>
    </div>
  </div>
</section>
<%- include("./partials/footer.ejs") %>
